


.jumbotron {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  color: inherit;


}
body{
	width: 768px;
	height: 1366px;
	overflow: hidden;
}
.jumbotron{
 width: 768px;
 height: 1366px;
}
.carousel-inner{
 width: 768px;
 height: 1366px;
}
.item {
 width: 768px;
 height: 1366px;
}
.modal-body{
	background:rgba(231,230,230,0.7);
	width: 500px;
	height:350px;
	position: absolute;
	top: 300px;
	left: 10%;
	font: "微软雅黑";
	border-radius: 45px;

}
.photo {
	float: left;
	width: 180px;
	height: 200px;
	border: 1px solid #000000;
}
.word1 {
	font: "微软雅黑";
	padding-left: 100px;
	line-height: 50px;
	margin-left: 25%;
	margin-top: 20px;

}
.word2 {
	font: "微软雅黑";
	line-height: 50px;
	margin-top: 5%;
	float: left;

}
.main {
	padding-top: 20px;
}
